# Reading & Filling Missing Values

In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
highest_grossers = pd.read_csv('archive/HighestGrossers.csv')

In [4]:
highest_grossers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   27 non-null     int64
 1   MOVIE                  27 non-null     object
 2   GENRE                  24 non-null     object
 3   MPAA RATING            27 non-null     object
 4   DISTRIBUTOR            27 non-null     object
 5   TOTAL FOR YEAR         27 non-null     object
 6   TOTAL IN 2019 DOLLARS  27 non-null     object
 7   TICKETS SOLD           27 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.8+ KB

Start pyspark session

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/01/25 11:30:46 WARN Utils: Your hostname, rich resolves to a loopback address: 127.0.1.1; using 192.168.68.114 instead (on interface wlp0s20f3)
22/01/25 11:30:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/rich/.pyenv/versions/3.9.1/envs/pyspark-env/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/25 11:30:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_pyspark = spark.read.option("header", "true").csv("archive/HighestGrossers.csv", inferSchema=True)

In [9]:
df_pyspark

DataFrame[YEAR: int, MOVIE: string, GENRE: string, MPAA RATING: string, DISTRIBUTOR: string, TOTAL FOR YEAR: string, TOTAL IN 2019 DOLLARS: string, TICKETS SOLD: string]

In [10]:
df_pyspark.show()

+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|YEAR|               MOVIE|    GENRE|MPAA RATING|       DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|1995|      Batman Forever|    Drama|      PG-13|      Warner Bros.|  $184,031,112|         $387,522,978| 4,23,06,002|
|1996|    Independence Day|Adventure|      PG-13|  20th Century Fox|  $306,169,255|         $634,504,608| 6,92,69,062|
|1997|        Men in Black|Adventure|      PG-13|     Sony Pictures|  $250,650,052|         $500,207,943| 5,46,07,854|
|1998|             Titanic|Adventure|      PG-13|Paramount Pictures|  $443,319,081|         $865,842,808| 9,45,24,324|
|1999|Star Wars Ep. I: ...|Adventure|         PG|  20th Century Fox|  $430,443,350|         $776,153,749| 8,47,32,942|
|2000|How the Grinch St...|Adventure|         PG|         Universal|  $253,367,455|         $430,583,644| 4,70,06,948|
|2001|Harry Potter and ...|Adventure|         PG|      Warner Bros.|  $300,404,434|         $486,166,890| 5,30,74,988|
|2002|          Spider-Man|Adventure|      PG-13|     Sony Pictures|  $403,706,375|         $636,480,273| 6,94,84,746|
|2003|        Finding Nemo|Adventure|          G|       Walt Disney|  $339,714,367|         $516,050,346| 5,63,37,374|
|2004|             Shrek 2|Adventure|         PG|    Dreamworks SKG|  $441,226,247|         $650,826,473| 7,10,50,925|
|2005|Star Wars Ep. III...|   Action|      PG-13|  20th Century Fox|  $380,270,577|         $543,413,171| 5,93,24,582|
|2006|Pirates of the Ca...|   Action|      PG-13|       Walt Disney|  $423,315,812|         $591,995,851| 6,46,28,368|
|2007|        Spider-Man 3|Adventure|      PG-13|     Sony Pictures|  $336,530,303|         $448,054,878| 4,89,14,288|
|2008|     The Dark Knight|Adventure|      PG-13|      Warner Bros.|  $531,001,578|         $677,433,772| 7,39,55,652|
|2009|Transformers: Rev...|   Action|      PG-13|Paramount Pictures|  $402,111,870|         $491,112,631| 5,36,14,916|
|2010|         Toy Story 3|   Action|          G|       Walt Disney|  $415,004,880|         $481,805,411| 5,25,98,844|
|2011|Harry Potter and ...|   Action|      PG-13|      Warner Bros.|  $381,011,219|         $440,108,798| 4,80,46,812|
|2012|        The Avengers|Adventure|      PG-13|       Walt Disney|  $623,357,910|         $717,331,462| 7,83,11,295|
|2013|          Iron Man 3|Adventure|      PG-13|       Walt Disney|  $408,992,272|         $460,808,016| 5,03,06,552|
|2014|Guardians of the ...|Adventure|      PG-13|       Walt Disney|  $333,055,258|         $373,413,235| 4,07,65,637|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
only showing top 20 rows

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(YEAR=1995, MOVIE='Batman Forever', GENRE='Drama', MPAA RATING='PG-13', DISTRIBUTOR='Warner Bros.', TOTAL FOR YEAR='$184,031,112', TOTAL IN 2019 DOLLARS='$387,522,978', TICKETS SOLD='4,23,06,002'),
 Row(YEAR=1996, MOVIE='Independence Day', GENRE='Adventure', MPAA RATING='PG-13', DISTRIBUTOR='20th Century Fox', TOTAL FOR YEAR='$306,169,255', TOTAL IN 2019 DOLLARS='$634,504,608', TICKETS SOLD='6,92,69,062'),
 Row(YEAR=1997, MOVIE='Men in Black', GENRE='Adventure', MPAA RATING='PG-13', DISTRIBUTOR='Sony Pictures', TOTAL FOR YEAR='$250,650,052', TOTAL IN 2019 DOLLARS='$500,207,943', TICKETS SOLD='5,46,07,854')]

In [13]:
df_pyspark.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MOVIE: string (nullable = true)
 |-- GENRE: string (nullable = true)
 |-- MPAA RATING: string (nullable = true)
 |-- DISTRIBUTOR: string (nullable = true)
 |-- TOTAL FOR YEAR: string (nullable = true)
 |-- TOTAL IN 2019 DOLLARS: string (nullable = true)
 |-- TICKETS SOLD: string (nullable = true)

---

In [14]:
df_pyspark['TICKETS SOLD']

Column<'TICKETS SOLD'>

In [15]:
from pyspark.sql.functions import udf, col
import re

commaRep = udf(lambda x: re.sub(',|\$','', x))
df_pyspark=df_pyspark.withColumn('TICKETS SOLD',commaRep('TICKETS SOLD'))
df_pyspark=df_pyspark.withColumn('TOTAL FOR YEAR',commaRep('TOTAL FOR YEAR'))
df_pyspark=df_pyspark.withColumn('TOTAL IN 2019 DOLLARS',commaRep('TOTAL IN 2019 DOLLARS'))
df_pyspark=df_pyspark.withColumn('TICKETS SOLD',col('TICKETS SOLD').cast("Integer"))
df_pyspark=df_pyspark.withColumn('TOTAL FOR YEAR',col('TOTAL FOR YEAR').cast("Integer"))
df_pyspark=df_pyspark.withColumn('TOTAL IN 2019 DOLLARS',col('TOTAL IN 2019 DOLLARS').cast("Integer"))

df_pyspark.show(3)

+----+----------------+---------+-----------+----------------+--------------+---------------------+------------+
|YEAR|           MOVIE|    GENRE|MPAA RATING|     DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|
+----+----------------+---------+-----------+----------------+--------------+---------------------+------------+
|1995|  Batman Forever|    Drama|      PG-13|    Warner Bros.|     184031112|            387522978|    42306002|
|1996|Independence Day|Adventure|      PG-13|20th Century Fox|     306169255|            634504608|    69269062|
|1997|    Men in Black|Adventure|      PG-13|   Sony Pictures|     250650052|            500207943|    54607854|
+----+----------------+---------+-----------+----------------+--------------+---------------------+------------+
only showing top 3 rows

In [16]:
df_pyspark.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MOVIE: string (nullable = true)
 |-- GENRE: string (nullable = true)
 |-- MPAA RATING: string (nullable = true)
 |-- DISTRIBUTOR: string (nullable = true)
 |-- TOTAL FOR YEAR: integer (nullable = true)
 |-- TOTAL IN 2019 DOLLARS: integer (nullable = true)
 |-- TICKETS SOLD: integer (nullable = true)

In [17]:
df_pyspark.columns

['YEAR',
 'MOVIE',
 'GENRE',
 'MPAA RATING',
 'DISTRIBUTOR',
 'TOTAL FOR YEAR',
 'TOTAL IN 2019 DOLLARS',
 'TICKETS SOLD']

In [18]:
df_pyspark.head(3)

[Row(YEAR=1995, MOVIE='Batman Forever', GENRE='Drama', MPAA RATING='PG-13', DISTRIBUTOR='Warner Bros.', TOTAL FOR YEAR=184031112, TOTAL IN 2019 DOLLARS=387522978, TICKETS SOLD=42306002),
 Row(YEAR=1996, MOVIE='Independence Day', GENRE='Adventure', MPAA RATING='PG-13', DISTRIBUTOR='20th Century Fox', TOTAL FOR YEAR=306169255, TOTAL IN 2019 DOLLARS=634504608, TICKETS SOLD=69269062),
 Row(YEAR=1997, MOVIE='Men in Black', GENRE='Adventure', MPAA RATING='PG-13', DISTRIBUTOR='Sony Pictures', TOTAL FOR YEAR=250650052, TOTAL IN 2019 DOLLARS=500207943, TICKETS SOLD=54607854)]

In [19]:
# Selecting a column
df_pyspark.select("TICKETS SOLD").show()

+------------+
|TICKETS SOLD|
+------------+
|    42306002|
|    69269062|
|    54607854|
|    94524324|
|    84732942|
|    47006948|
|    53074988|
|    69484746|
|    56337374|
|    71050925|
|    59324582|
|    64628368|
|    48914288|
|    73955652|
|    53614916|
|    52598844|
|    48046812|
|    78311295|
|    50306552|
|    40765637|
+------------+
only showing top 20 rows

In [20]:
# Selecting columns
df_pyspark.select(["MOVIE", "TICKETS SOLD"]).show()

+--------------------+------------+
|               MOVIE|TICKETS SOLD|
+--------------------+------------+
|      Batman Forever|    42306002|
|    Independence Day|    69269062|
|        Men in Black|    54607854|
|             Titanic|    94524324|
|Star Wars Ep. I: ...|    84732942|
|How the Grinch St...|    47006948|
|Harry Potter and ...|    53074988|
|          Spider-Man|    69484746|
|        Finding Nemo|    56337374|
|             Shrek 2|    71050925|
|Star Wars Ep. III...|    59324582|
|Pirates of the Ca...|    64628368|
|        Spider-Man 3|    48914288|
|     The Dark Knight|    73955652|
|Transformers: Rev...|    53614916|
|         Toy Story 3|    52598844|
|Harry Potter and ...|    48046812|
|        The Avengers|    78311295|
|          Iron Man 3|    50306552|
|Guardians of the ...|    40765637|
+--------------------+------------+
only showing top 20 rows

In [21]:
# Similar to pandas describe func
df_pyspark.describe().show()

+-------+-----------------+--------------------+------+-----------+----------------+--------------------+---------------------+--------------------+
|summary|             YEAR|               MOVIE| GENRE|MPAA RATING|     DISTRIBUTOR|      TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|        TICKETS SOLD|
+-------+-----------------+--------------------+------+-----------+----------------+--------------------+---------------------+--------------------+
|  count|               27|                  27|    24|         27|              27|                  27|                   27|                  27|
|   mean|           2008.0|                null|  null|       null|            null| 4.192771630740741E8|  5.537169798888888E8|6.0449451925925925E7|
| stddev|7.937253933193772|                null|  null|       null|            null|1.6314675402082297E8|  1.699856367346755E8|1.8557383982576847E7|
|    min|             1995|   Avengers: Endgame|Action|          G|20th Century Fox|           184031112|            204417848|            22316359|
|    max|             2021|Transformers: Rev...| Drama|          R|    Warner Bros.|           858373000|            865842808|            94524324|
+-------+-----------------+--------------------+------+-----------+----------------+--------------------+---------------------+--------------------+

In [22]:
df_pyspark.show()

+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|YEAR|               MOVIE|    GENRE|MPAA RATING|       DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|1995|      Batman Forever|    Drama|      PG-13|      Warner Bros.|     184031112|            387522978|    42306002|
|1996|    Independence Day|Adventure|      PG-13|  20th Century Fox|     306169255|            634504608|    69269062|
|1997|        Men in Black|Adventure|      PG-13|     Sony Pictures|     250650052|            500207943|    54607854|
|1998|             Titanic|Adventure|      PG-13|Paramount Pictures|     443319081|            865842808|    94524324|
|1999|Star Wars Ep. I: ...|Adventure|         PG|  20th Century Fox|     430443350|            776153749|    84732942|
|2000|How the Grinch St...|Adventure|         PG|         Universal|     253367455|            430583644|    47006948|
|2001|Harry Potter and ...|Adventure|         PG|      Warner Bros.|     300404434|            486166890|    53074988|
|2002|          Spider-Man|Adventure|      PG-13|     Sony Pictures|     403706375|            636480273|    69484746|
|2003|        Finding Nemo|Adventure|          G|       Walt Disney|     339714367|            516050346|    56337374|
|2004|             Shrek 2|Adventure|         PG|    Dreamworks SKG|     441226247|            650826473|    71050925|
|2005|Star Wars Ep. III...|   Action|      PG-13|  20th Century Fox|     380270577|            543413171|    59324582|
|2006|Pirates of the Ca...|   Action|      PG-13|       Walt Disney|     423315812|            591995851|    64628368|
|2007|        Spider-Man 3|Adventure|      PG-13|     Sony Pictures|     336530303|            448054878|    48914288|
|2008|     The Dark Knight|Adventure|      PG-13|      Warner Bros.|     531001578|            677433772|    73955652|
|2009|Transformers: Rev...|   Action|      PG-13|Paramount Pictures|     402111870|            491112631|    53614916|
|2010|         Toy Story 3|   Action|          G|       Walt Disney|     415004880|            481805411|    52598844|
|2011|Harry Potter and ...|   Action|      PG-13|      Warner Bros.|     381011219|            440108798|    48046812|
|2012|        The Avengers|Adventure|      PG-13|       Walt Disney|     623357910|            717331462|    78311295|
|2013|          Iron Man 3|Adventure|      PG-13|       Walt Disney|     408992272|            460808016|    50306552|
|2014|Guardians of the ...|Adventure|      PG-13|       Walt Disney|     333055258|            373413235|    40765637|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
only showing top 20 rows

In [23]:
# Adding Columns in data frame
df_pyspark = df_pyspark.withColumn('TEST', df_pyspark["TICKETS SOLD"]*2)

In [24]:
df_pyspark.show()

+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+---------+
|YEAR|               MOVIE|    GENRE|MPAA RATING|       DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|     TEST|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+---------+
|1995|      Batman Forever|    Drama|      PG-13|      Warner Bros.|     184031112|            387522978|    42306002| 84612004|
|1996|    Independence Day|Adventure|      PG-13|  20th Century Fox|     306169255|            634504608|    69269062|138538124|
|1997|        Men in Black|Adventure|      PG-13|     Sony Pictures|     250650052|            500207943|    54607854|109215708|
|1998|             Titanic|Adventure|      PG-13|Paramount Pictures|     443319081|            865842808|    94524324|189048648|
|1999|Star Wars Ep. I: ...|Adventure|         PG|  20th Century Fox|     430443350|            776153749|    84732942|169465884|
|2000|How the Grinch St...|Adventure|         PG|         Universal|     253367455|            430583644|    47006948| 94013896|
|2001|Harry Potter and ...|Adventure|         PG|      Warner Bros.|     300404434|            486166890|    53074988|106149976|
|2002|          Spider-Man|Adventure|      PG-13|     Sony Pictures|     403706375|            636480273|    69484746|138969492|
|2003|        Finding Nemo|Adventure|          G|       Walt Disney|     339714367|            516050346|    56337374|112674748|
|2004|             Shrek 2|Adventure|         PG|    Dreamworks SKG|     441226247|            650826473|    71050925|142101850|
|2005|Star Wars Ep. III...|   Action|      PG-13|  20th Century Fox|     380270577|            543413171|    59324582|118649164|
|2006|Pirates of the Ca...|   Action|      PG-13|       Walt Disney|     423315812|            591995851|    64628368|129256736|
|2007|        Spider-Man 3|Adventure|      PG-13|     Sony Pictures|     336530303|            448054878|    48914288| 97828576|
|2008|     The Dark Knight|Adventure|      PG-13|      Warner Bros.|     531001578|            677433772|    73955652|147911304|
|2009|Transformers: Rev...|   Action|      PG-13|Paramount Pictures|     402111870|            491112631|    53614916|107229832|
|2010|         Toy Story 3|   Action|          G|       Walt Disney|     415004880|            481805411|    52598844|105197688|
|2011|Harry Potter and ...|   Action|      PG-13|      Warner Bros.|     381011219|            440108798|    48046812| 96093624|
|2012|        The Avengers|Adventure|      PG-13|       Walt Disney|     623357910|            717331462|    78311295|156622590|
|2013|          Iron Man 3|Adventure|      PG-13|       Walt Disney|     408992272|            460808016|    50306552|100613104|
|2014|Guardians of the ...|Adventure|      PG-13|       Walt Disney|     333055258|            373413235|    40765637| 81531274|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+---------+
only showing top 20 rows

In [25]:
# Drop column
df_pyspark = df_pyspark.drop("TEST")

In [26]:
df_pyspark.show()

+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|YEAR|               MOVIE|    GENRE|MPAA RATING|       DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|1995|      Batman Forever|    Drama|      PG-13|      Warner Bros.|     184031112|            387522978|    42306002|
|1996|    Independence Day|Adventure|      PG-13|  20th Century Fox|     306169255|            634504608|    69269062|
|1997|        Men in Black|Adventure|      PG-13|     Sony Pictures|     250650052|            500207943|    54607854|
|1998|             Titanic|Adventure|      PG-13|Paramount Pictures|     443319081|            865842808|    94524324|
|1999|Star Wars Ep. I: ...|Adventure|         PG|  20th Century Fox|     430443350|            776153749|    84732942|
|2000|How the Grinch St...|Adventure|         PG|         Universal|     253367455|            430583644|    47006948|
|2001|Harry Potter and ...|Adventure|         PG|      Warner Bros.|     300404434|            486166890|    53074988|
|2002|          Spider-Man|Adventure|      PG-13|     Sony Pictures|     403706375|            636480273|    69484746|
|2003|        Finding Nemo|Adventure|          G|       Walt Disney|     339714367|            516050346|    56337374|
|2004|             Shrek 2|Adventure|         PG|    Dreamworks SKG|     441226247|            650826473|    71050925|
|2005|Star Wars Ep. III...|   Action|      PG-13|  20th Century Fox|     380270577|            543413171|    59324582|
|2006|Pirates of the Ca...|   Action|      PG-13|       Walt Disney|     423315812|            591995851|    64628368|
|2007|        Spider-Man 3|Adventure|      PG-13|     Sony Pictures|     336530303|            448054878|    48914288|
|2008|     The Dark Knight|Adventure|      PG-13|      Warner Bros.|     531001578|            677433772|    73955652|
|2009|Transformers: Rev...|   Action|      PG-13|Paramount Pictures|     402111870|            491112631|    53614916|
|2010|         Toy Story 3|   Action|          G|       Walt Disney|     415004880|            481805411|    52598844|
|2011|Harry Potter and ...|   Action|      PG-13|      Warner Bros.|     381011219|            440108798|    48046812|
|2012|        The Avengers|Adventure|      PG-13|       Walt Disney|     623357910|            717331462|    78311295|
|2013|          Iron Man 3|Adventure|      PG-13|       Walt Disney|     408992272|            460808016|    50306552|
|2014|Guardians of the ...|Adventure|      PG-13|       Walt Disney|     333055258|            373413235|    40765637|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
only showing top 20 rows

In [27]:
# Rename the columns
df_pyspark.withColumnRenamed('MOVIE', 'MOVIE TITLE').show()

+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|YEAR|         MOVIE TITLE|    GENRE|MPAA RATING|       DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|1995|      Batman Forever|    Drama|      PG-13|      Warner Bros.|     184031112|            387522978|    42306002|
|1996|    Independence Day|Adventure|      PG-13|  20th Century Fox|     306169255|            634504608|    69269062|
|1997|        Men in Black|Adventure|      PG-13|     Sony Pictures|     250650052|            500207943|    54607854|
|1998|             Titanic|Adventure|      PG-13|Paramount Pictures|     443319081|            865842808|    94524324|
|1999|Star Wars Ep. I: ...|Adventure|         PG|  20th Century Fox|     430443350|            776153749|    84732942|
|2000|How the Grinch St...|Adventure|         PG|         Universal|     253367455|            430583644|    47006948|
|2001|Harry Potter and ...|Adventure|         PG|      Warner Bros.|     300404434|            486166890|    53074988|
|2002|          Spider-Man|Adventure|      PG-13|     Sony Pictures|     403706375|            636480273|    69484746|
|2003|        Finding Nemo|Adventure|          G|       Walt Disney|     339714367|            516050346|    56337374|
|2004|             Shrek 2|Adventure|         PG|    Dreamworks SKG|     441226247|            650826473|    71050925|
|2005|Star Wars Ep. III...|   Action|      PG-13|  20th Century Fox|     380270577|            543413171|    59324582|
|2006|Pirates of the Ca...|   Action|      PG-13|       Walt Disney|     423315812|            591995851|    64628368|
|2007|        Spider-Man 3|Adventure|      PG-13|     Sony Pictures|     336530303|            448054878|    48914288|
|2008|     The Dark Knight|Adventure|      PG-13|      Warner Bros.|     531001578|            677433772|    73955652|
|2009|Transformers: Rev...|   Action|      PG-13|Paramount Pictures|     402111870|            491112631|    53614916|
|2010|         Toy Story 3|   Action|          G|       Walt Disney|     415004880|            481805411|    52598844|
|2011|Harry Potter and ...|   Action|      PG-13|      Warner Bros.|     381011219|            440108798|    48046812|
|2012|        The Avengers|Adventure|      PG-13|       Walt Disney|     623357910|            717331462|    78311295|
|2013|          Iron Man 3|Adventure|      PG-13|       Walt Disney|     408992272|            460808016|    50306552|
|2014|Guardians of the ...|Adventure|      PG-13|       Walt Disney|     333055258|            373413235|    40765637|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
only showing top 20 rows

## Pyspark Handling Missing Values

In [278]:
missing_val_df= spark.read.option("header", "true").csv("archive/MissingValues.csv", inferSchema=True)

In [279]:
missing_val_df.show()

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|          null|  $8,800,805,718|                    $12,576,499,367|               $6.41|
|null|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                               null|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [280]:
## drop columns
missing_val_df.drop('AVERAGE TICKET PRICE').show()

+----+--------------+----------------+-----------------------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|
+----+--------------+----------------+-----------------------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|
|2005|          null|  $8,800,805,718|                    $12,576,499,367|
|null|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|
|2003|1,52,45,89,620|  $9,193,277,289|                               null|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|
+----+--------------+----------------+-----------------------------------+
only showing top 20 rows

In [281]:
missing_val_df.na.drop().show()

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
|2000|1,39,74,60,079|  $7,532,311,479|                    $12,800,734,319|               $5.39|
|1999|1,44,46,64,086|  $7,338,894,852|                    $13,233,123,027|               $5.08|
|1998|1,44,38,32,471|  $6,771,575,283|                    $13,225,505,439|               $4.69|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [282]:
# Attach function to pyspark
def spark_shape(self):
    return (self.count(), len(self.columns))
pyspark.sql.dataframe.DataFrame.shape = spark_shape

In [283]:
missing_val_df.shape()

(27, 5)

In [284]:
missing_val_df.count()

27

In [285]:
# by default how is "any". If how is "all", it will look for rows with all values as null. See more details when you shift+tab after open parenthesis
missing_val_df.na.drop(how="all").show()

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|          null|  $8,800,805,718|                    $12,576,499,367|               $6.41|
|null|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                               null|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [286]:
missing_val_df.na.drop(how="any", thresh=2).show() # At least 2 non-null values should be present

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|          null|  $8,800,805,718|                    $12,576,499,367|               $6.41|
|null|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                               null|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [287]:
missing_val_df.na.drop(how="any", subset=["TICKETS SOLD"]).show()

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|null|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                               null|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
|2001|1,46,58,74,205|            null|                    $13,427,407,722|               $5.66|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [288]:
missing_val_df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- TICKETS SOLD: string (nullable = true)
 |-- TOTAL BOX OFFICE: string (nullable = true)
 |-- TOTAL INFLATION ADJUSTED BOX OFFICE: string (nullable = true)
 |-- AVERAGE TICKET PRICE: string (nullable = true)

In [289]:
# Filling the Missing Value
missing_val_df.na.fill('Missing Values').show() # note that Year wasn't filled because Year is int, while the other columns are str

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|Missing Values|  $8,800,805,718|                    $12,576,499,367|               $6.41|
|null|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                     Missing Values|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [290]:
### Filling the Missing Value
missing_val_df.na.fill(999, ['Year']).show()

+----+--------------+----------------+-----------------------------------+--------------------+
|YEAR|  TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+--------------+----------------+-----------------------------------+--------------------+
|2021|  42,37,74,881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|  22,36,38,958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|1,22,85,41,629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|1,31,15,36,128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|1,22,56,39,761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|1,30,25,56,378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|1,32,33,56,776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|1,25,74,02,920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|1,33,91,68,926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|1,38,09,21,942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|1,28,29,15,168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|1,32,85,49,021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|1,41,85,67,388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|1,35,80,42,073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|1,42,00,36,680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|1,39,87,38,283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|          null|  $8,800,805,718|                    $12,576,499,367|               $6.41|
| 999|1,49,56,51,298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|1,52,45,89,620|  $9,193,277,289|                               null|               $6.03|
|2002|1,57,57,56,527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+--------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [291]:
missing_val_df

DataFrame[YEAR: int, TICKETS SOLD: string, TOTAL BOX OFFICE: string, TOTAL INFLATION ADJUSTED BOX OFFICE: string, AVERAGE TICKET PRICE: string]

In [292]:
missing_val_df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- TICKETS SOLD: string (nullable = true)
 |-- TOTAL BOX OFFICE: string (nullable = true)
 |-- TOTAL INFLATION ADJUSTED BOX OFFICE: string (nullable = true)
 |-- AVERAGE TICKET PRICE: string (nullable = true)

In [293]:
from pyspark.sql.functions import udf, col, when
import re

commaRep = udf(lambda x: re.sub(',|\$| ','', x))
missing_val_df = missing_val_df.na.fill("", ["TICKETS SOLD"]).withColumn('TICKETS SOLD',commaRep('TICKETS SOLD'))
missing_val_df = missing_val_df.withColumn('TICKETS SOLD', when((missing_val_df["TICKETS SOLD"] == ""), None).otherwise(missing_val_df["TICKETS SOLD"]))

# missing_val_df.show(3)

In [294]:
missing_val_df.show()

+----+------------+----------------+-----------------------------------+--------------------+
|YEAR|TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+------------+----------------+-----------------------------------+--------------------+
|2021|   423774881|  $3,881,777,912|                     $3,881,777,912|               $9.16|
|2020|   223638958|  $2,048,534,616|                     $2,048,534,616|               $9.16|
|2019|  1228541629| $11,253,443,955|                    $11,253,444,050|               $9.16|
|2018|  1311536128| $11,948,096,650|                    $12,013,670,952|               $9.11|
|2017|  1225639761| $10,993,991,460|                    $11,226,860,216|               $8.97|
|2016|  1302556378| $11,267,115,924|                    $11,931,416,424|               $8.65|
|2015|  1323356776| $11,155,900,636|                    $12,121,948,075|               $8.43|
|2014|  1257402920| $10,272,985,008|                    $11,517,810,744|               $8.17|
|2013|  1339168926| $10,887,446,341|                    $12,266,787,382|               $8.13|
|2012|  1380921942| $10,992,141,616|                    $12,649,244,986|               $7.96|
|2011|  1282915168| $10,173,519,704|                    $11,751,502,955|               $7.93|
|2010|  1328549021| $10,482,254,025|                    $12,169,509,032|               $7.89|
|2009|  1418567388| $10,639,257,284|                    $12,994,051,137|               $7.50|
|2008|  1358042073|  $9,750,744,148|                    $12,439,665,380|               $7.18|
|2007|  1420036680|  $9,769,854,914|                    $13,007,535,993|               $6.88|
|2006|  1398738283|  $9,161,738,221|                    $12,812,442,671|               $6.55|
|2005|        null|  $8,800,805,718|                    $12,576,499,367|               $6.41|
|null|  1495651298|  $9,287,996,519|                    $13,700,165,883|               $6.21|
|2003|  1524589620|  $9,193,277,289|                               null|               $6.03|
|2002|  1575756527|  $9,155,147,215|                    $14,433,929,789|               $5.81|
+----+------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [295]:
missing_val_df = missing_val_df.na.fill("", ["TOTAL INFLATION ADJUSTED BOX OFFICE"]).withColumn('TOTAL INFLATION ADJUSTED BOX OFFICE',commaRep('TOTAL INFLATION ADJUSTED BOX OFFICE'))

In [296]:
missing_val_df = missing_val_df.withColumn('TOTAL INFLATION ADJUSTED BOX OFFICE',when((missing_val_df["TOTAL INFLATION ADJUSTED BOX OFFICE"] == ""), None).otherwise(missing_val_df["TOTAL INFLATION ADJUSTED BOX OFFICE"]))

In [297]:
missing_val_df.show()

+----+------------+----------------+-----------------------------------+--------------------+
|YEAR|TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+------------+----------------+-----------------------------------+--------------------+
|2021|   423774881|  $3,881,777,912|                         3881777912|               $9.16|
|2020|   223638958|  $2,048,534,616|                         2048534616|               $9.16|
|2019|  1228541629| $11,253,443,955|                        11253444050|               $9.16|
|2018|  1311536128| $11,948,096,650|                        12013670952|               $9.11|
|2017|  1225639761| $10,993,991,460|                        11226860216|               $8.97|
|2016|  1302556378| $11,267,115,924|                        11931416424|               $8.65|
|2015|  1323356776| $11,155,900,636|                        12121948075|               $8.43|
|2014|  1257402920| $10,272,985,008|                        11517810744|               $8.17|
|2013|  1339168926| $10,887,446,341|                        12266787382|               $8.13|
|2012|  1380921942| $10,992,141,616|                        12649244986|               $7.96|
|2011|  1282915168| $10,173,519,704|                        11751502955|               $7.93|
|2010|  1328549021| $10,482,254,025|                        12169509032|               $7.89|
|2009|  1418567388| $10,639,257,284|                        12994051137|               $7.50|
|2008|  1358042073|  $9,750,744,148|                        12439665380|               $7.18|
|2007|  1420036680|  $9,769,854,914|                        13007535993|               $6.88|
|2006|  1398738283|  $9,161,738,221|                        12812442671|               $6.55|
|2005|        null|  $8,800,805,718|                        12576499367|               $6.41|
|null|  1495651298|  $9,287,996,519|                        13700165883|               $6.21|
|2003|  1524589620|  $9,193,277,289|                               null|               $6.03|
|2002|  1575756527|  $9,155,147,215|                        14433929789|               $5.81|
+----+------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [298]:
missing_val_df=missing_val_df.withColumn('TICKETS SOLD',col('TICKETS SOLD').cast("Integer"))

In [299]:
missing_val_df.show()

+----+------------+----------------+-----------------------------------+--------------------+
|YEAR|TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|
+----+------------+----------------+-----------------------------------+--------------------+
|2021|   423774881|  $3,881,777,912|                         3881777912|               $9.16|
|2020|   223638958|  $2,048,534,616|                         2048534616|               $9.16|
|2019|  1228541629| $11,253,443,955|                        11253444050|               $9.16|
|2018|  1311536128| $11,948,096,650|                        12013670952|               $9.11|
|2017|  1225639761| $10,993,991,460|                        11226860216|               $8.97|
|2016|  1302556378| $11,267,115,924|                        11931416424|               $8.65|
|2015|  1323356776| $11,155,900,636|                        12121948075|               $8.43|
|2014|  1257402920| $10,272,985,008|                        11517810744|               $8.17|
|2013|  1339168926| $10,887,446,341|                        12266787382|               $8.13|
|2012|  1380921942| $10,992,141,616|                        12649244986|               $7.96|
|2011|  1282915168| $10,173,519,704|                        11751502955|               $7.93|
|2010|  1328549021| $10,482,254,025|                        12169509032|               $7.89|
|2009|  1418567388| $10,639,257,284|                        12994051137|               $7.50|
|2008|  1358042073|  $9,750,744,148|                        12439665380|               $7.18|
|2007|  1420036680|  $9,769,854,914|                        13007535993|               $6.88|
|2006|  1398738283|  $9,161,738,221|                        12812442671|               $6.55|
|2005|        null|  $8,800,805,718|                        12576499367|               $6.41|
|null|  1495651298|  $9,287,996,519|                        13700165883|               $6.21|
|2003|  1524589620|  $9,193,277,289|                               null|               $6.03|
|2002|  1575756527|  $9,155,147,215|                        14433929789|               $5.81|
+----+------------+----------------+-----------------------------------+--------------------+
only showing top 20 rows

In [300]:
missing_val_df = missing_val_df.withColumn('TOTAL INFLATION ADJUSTED BOX OFFICE',col('TOTAL INFLATION ADJUSTED BOX OFFICE').cast("Long"))

In [301]:
missing_val_df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- TICKETS SOLD: integer (nullable = true)
 |-- TOTAL BOX OFFICE: string (nullable = true)
 |-- TOTAL INFLATION ADJUSTED BOX OFFICE: long (nullable = true)
 |-- AVERAGE TICKET PRICE: string (nullable = true)

In [302]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=["TICKETS SOLD", "TOTAL INFLATION ADJUSTED BOX OFFICE"],
    outputCols=["{}_imputed".format(c) for c in ["TICKETS SOLD", "TOTAL INFLATION ADJUSTED BOX OFFICE"]],
).setStrategy("mean")

In [303]:
# Add imputation cols to df

imputer.fit(missing_val_df).transform(missing_val_df).show()

+----+------------+----------------+-----------------------------------+--------------------+--------------------+-------------------------------------------+
|YEAR|TICKETS SOLD|TOTAL BOX OFFICE|TOTAL INFLATION ADJUSTED BOX OFFICE|AVERAGE TICKET PRICE|TICKETS SOLD_imputed|TOTAL INFLATION ADJUSTED BOX OFFICE_imputed|
+----+------------+----------------+-----------------------------------+--------------------+--------------------+-------------------------------------------+
|2021|   423774881|  $3,881,777,912|                         3881777912|               $9.16|           423774881|                                 3881777912|
|2020|   223638958|  $2,048,534,616|                         2048534616|               $9.16|           223638958|                                 2048534616|
|2019|  1228541629| $11,253,443,955|                        11253444050|               $9.16|          1228541629|                                11253444050|
|2018|  1311536128| $11,948,096,650|                        12013670952|               $9.11|          1311536128|                                12013670952|
|2017|  1225639761| $10,993,991,460|                        11226860216|               $8.97|          1225639761|                                11226860216|
|2016|  1302556378| $11,267,115,924|                        11931416424|               $8.65|          1302556378|                                11931416424|
|2015|  1323356776| $11,155,900,636|                        12121948075|               $8.43|          1323356776|                                12121948075|
|2014|  1257402920| $10,272,985,008|                        11517810744|               $8.17|          1257402920|                                11517810744|
|2013|  1339168926| $10,887,446,341|                        12266787382|               $8.13|          1339168926|                                12266787382|
|2012|  1380921942| $10,992,141,616|                        12649244986|               $7.96|          1380921942|                                12649244986|
|2011|  1282915168| $10,173,519,704|                        11751502955|               $7.93|          1282915168|                                11751502955|
|2010|  1328549021| $10,482,254,025|                        12169509032|               $7.89|          1328549021|                                12169509032|
|2009|  1418567388| $10,639,257,284|                        12994051137|               $7.50|          1418567388|                                12994051137|
|2008|  1358042073|  $9,750,744,148|                        12439665380|               $7.18|          1358042073|                                12439665380|
|2007|  1420036680|  $9,769,854,914|                        13007535993|               $6.88|          1420036680|                                13007535993|
|2006|  1398738283|  $9,161,738,221|                        12812442671|               $6.55|          1398738283|                                12812442671|
|2005|        null|  $8,800,805,718|                        12576499367|               $6.41|          1286749693|                                12576499367|
|null|  1495651298|  $9,287,996,519|                        13700165883|               $6.21|          1495651298|                                13700165883|
|2003|  1524589620|  $9,193,277,289|                               null|               $6.03|          1524589620|                                11733211495|
|2002|  1575756527|  $9,155,147,215|                        14433929789|               $5.81|          1575756527|                                14433929789|
+----+------------+----------------+-----------------------------------+--------------------+--------------------+-------------------------------------------+
only showing top 20 rows