# Group by and Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("groupby-test").getOrCreate()

22/01/25 14:58:12 WARN Utils: Your hostname, rich resolves to a loopback address: 127.0.1.1; using 192.168.68.114 instead (on interface wlp0s20f3)
22/01/25 14:58:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/rich/.pyenv/versions/3.9.1/envs/pyspark-env/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/25 14:58:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/01/25 14:58:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/01/25 14:58:13 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df_pyspark = spark.read.option("header", "true").csv("archive/HighestGrossers_Cleaned.csv", inferSchema=True)

In [5]:
df_pyspark.show()

+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|YEAR|               MOVIE|    GENRE|MPAA RATING|       DISTRIBUTOR|TOTAL FOR YEAR|TOTAL IN 2019 DOLLARS|TICKETS SOLD|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
|1995|      Batman Forever|    Drama|      PG-13|      Warner Bros.|     184031112|            387522978|    42306002|
|1996|    Independence Day|Adventure|      PG-13|  20th Century Fox|     306169255|            634504608|    69269062|
|1997|        Men in Black|Adventure|      PG-13|     Sony Pictures|     250650052|            500207943|    54607854|
|1998|             Titanic|Adventure|      PG-13|Paramount Pictures|     443319081|            865842808|    94524324|
|1999|Star Wars Ep. I: ...|Adventure|         PG|  20th Century Fox|     430443350|            776153749|    84732942|
|2000|How the Grinch St...|Adventure|         PG|         Universal|     253367455|            430583644|    47006948|
|2001|Harry Potter and ...|Adventure|         PG|      Warner Bros.|     300404434|            486166890|    53074988|
|2002|          Spider-Man|Adventure|      PG-13|     Sony Pictures|     403706375|            636480273|    69484746|
|2003|        Finding Nemo|Adventure|          G|       Walt Disney|     339714367|            516050346|    56337374|
|2004|             Shrek 2|Adventure|         PG|    Dreamworks SKG|     441226247|            650826473|    71050925|
|2005|Star Wars Ep. III...|   Action|      PG-13|  20th Century Fox|     380270577|            543413171|    59324582|
|2006|Pirates of the Ca...|   Action|      PG-13|       Walt Disney|     423315812|            591995851|    64628368|
|2007|        Spider-Man 3|Adventure|      PG-13|     Sony Pictures|     336530303|            448054878|    48914288|
|2008|     The Dark Knight|Adventure|      PG-13|      Warner Bros.|     531001578|            677433772|    73955652|
|2009|Transformers: Rev...|   Action|      PG-13|Paramount Pictures|     402111870|            491112631|    53614916|
|2010|         Toy Story 3|   Action|          G|       Walt Disney|     415004880|            481805411|    52598844|
|2011|Harry Potter and ...|   Action|      PG-13|      Warner Bros.|     381011219|            440108798|    48046812|
|2012|        The Avengers|Adventure|      PG-13|       Walt Disney|     623357910|            717331462|    78311295|
|2013|          Iron Man 3|Adventure|      PG-13|       Walt Disney|     408992272|            460808016|    50306552|
|2014|Guardians of the ...|Adventure|      PG-13|       Walt Disney|     333055258|            373413235|    40765637|
+----+--------------------+---------+-----------+------------------+--------------+---------------------+------------+
only showing top 20 rows

In [6]:
df_pyspark.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MOVIE: string (nullable = true)
 |-- GENRE: string (nullable = true)
 |-- MPAA RATING: string (nullable = true)
 |-- DISTRIBUTOR: string (nullable = true)
 |-- TOTAL FOR YEAR: integer (nullable = true)
 |-- TOTAL IN 2019 DOLLARS: integer (nullable = true)
 |-- TICKETS SOLD: integer (nullable = true)

In [13]:
# Groupby

df_pyspark.groupBy('GENRE').sum().show()

+---------+---------+-------------------+--------------------------+-----------------+
|    GENRE|sum(YEAR)|sum(TOTAL FOR YEAR)|sum(TOTAL IN 2019 DOLLARS)|sum(TICKETS SOLD)|
+---------+---------+-------------------+--------------------------+-----------------+
|Adventure|    28054|         5401937937|                8173858097|        892342587|
|    Drama|     1995|          184031112|                 387522978|         42306002|
|   Action|    18107|         4447496795|                5101959828|        556982514|
|     null|     6060|         1287017559|                1287017554|        140504099|
+---------+---------+-------------------+--------------------------+-----------------+

In [11]:
df_pyspark.groupBy('Genre').count().show()

+---------+-----+
|    Genre|count|
+---------+-----+
|Adventure|   14|
|    Drama|    1|
|   Action|    9|
|     null|    3|
+---------+-----+

In [18]:
df_pyspark.groupBy('MPAA Rating').sum().show()

+-----------+---------+-------------------+--------------------------+-----------------+
|MPAA Rating|sum(YEAR)|sum(TOTAL FOR YEAR)|sum(TOTAL IN 2019 DOLLARS)|sum(TICKETS SOLD)|
+-----------+---------+-------------------+--------------------------+-----------------+
|         PG|    10020|         1911737047|                2858698078|        312084943|
|          R|     2020|          204417855|                 204417848|         22316359|
|          G|     4013|          754719247|                 997855757|        108936218|
|      PG-13|    38163|         8449609254|               10889386774|       1188797682|
+-----------+---------+-------------------+--------------------------+-----------------+

In [14]:
# Aggregate
df_pyspark.agg({'TICKETS SOLD':'sum'}).show()

+-----------------+
|sum(TICKETS SOLD)|
+-----------------+
|       1632135202|
+-----------------+

# Other agg operation

- sum
- avg
- min
- max